<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>JavaScript / Backbone training</title>
  <script src="node_modules/jquery/dist/jquery.js"></script>
  <script src="node_modules/underscore/underscore.js"></script>
  <script src="node_modules/backbone/backbone.js"></script>
  <script src="node_modules/backbone.radio/build/backbone.radio.js"></script>
  <script src="node_modules/backbone.marionette/lib/backbone.marionette.js"></script>
  <script src="src/app.js"></script>
  <script src="src/songsComponent.js"></script>
  <script src="src/appRouter.js"></script>
</head>
<body>
  <h1>Songs</h1>
  <form id="addSong">
    <label>Artist:</label>
    <input name="artist" />
    <label>Genre:</label>
    <input name="genre" />
    <label>Title:</label>
    <input name="title" />
    <input type="submit" value="Add" />
  </form>
  <script type="x-template/underscore" id="song-view-template">
    <%- title %>, <%- artist %>
    <input class="delete" type="button" value="delete" />
  </script>
</body>
</html>
